<!DOCTYPE html>
<html lang="it" ng-app="cardModule">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Splittypay</title>
    <link rel="stylesheet" href="assets/css/bulma.min.css"/>
    <link rel="stylesheet" href="assets/css/intlTelInput.min.css"/>
    <link rel="stylesheet" href="assets/css/bulma/bulma-steps.min.css"/>
    <link rel="stylesheet" href="assets/css/app.css"/>
    <style type="text/css">

        .not-visible {
            display: none;
        }

        .selected {
            background-color: green;
        }
    </style>

</head>
<body ng-controller="cardController">


<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-three-fifths is-offset-one-fifth">
                <img width="200px" height="auto"
                     src="https://static.wixstatic.com/media/6e9fa4_32a6e70c5bfc42229998882ddd12efdb~mv2.png/v1/fill/w_844,h_136,al_c,usm_0.66_1.00_0.01/6e9fa4_32a6e70c5bfc42229998882ddd12efdb~mv2.png">

                <hr>
                <!-- Slider One -->
                <div class="steps">
                    <div class="step-item is-completed is-success">
                        <div class="step-marker">
                            <i class="material-icons left">check</i>
                        </div>
                        <div class="step-details">
                            <p class="step-title">Benvenuto</p>
                        </div>
                    </div>
                    <div class="step-item is-active">
                        <div class="step-marker">2</div>
                        <div class="step-details">
                            <p class="step-title">Inserimento Carte</p>
                        </div>
                    </div>
                    <div class="step-item">
                        <div class="step-marker">3</div>
                        <div class="step-details">
                            <p class="step-title">Revisione</p>
                        </div>
                    </div>
                    <div class="step-item">
                        <div class="step-marker">4</div>
                        <div class="step-details">
                            <p class="step-title">Monitoraggio</p>
                        </div>
                    </div>
                </div>
                <!-- Slider One -->

                <h1 class="title">
                    Dividi il pagamento in:
                </h1>

                <div>
                    <a class="waves-effect waves-light btn normal" id="btn-equal" ng-class="{'selected':paymentType==='split'}" ng-click="selectedPayment('split')"><i
                            class="material-icons left">people</i>Parti uguali</a>
                    <a class="waves-effect waves-light btn normal" ng-class="{'selected':paymentType==='equal'}" id="btn-custom" ng-click="selectedPayment('equal')"><i class="material-icons left">border_color</i>Personalizzato</a>

                </div>
                <div class="column is-three-fifths is-offset-one-fifth">
                    <span class="total_amount">importo totale: <span ng-bind="totalAmount + ' €'"></span></span>
                    <span class="remaining_amount" ng-init="remainingAmount()">residuo: <span ng-bind="remaining + ' €'"></span></span>
                </div>
                <h5 class="has-text-centered" ng-if="!timeExpire" id="showTimerTitle" ng-bind="'Hai ancora ' + minutes + ' minuti e ' + seconds + ' secondi'"></h5>

                <h6 class="has-text-centered preset_button"><span ng-click="presetItems();">Demo</span></h6>
                <!--Start first collector-->
                <div class="row main-header card-module" ng-repeat="card in cards track by $index">
                    <form class="col s12 card-form">
                        <div id="card-collection-1" data-card="1" class="header-credit card-collection" ng-class="{'pre-authorized-denied':emptyCards.indexOf(card) > -1, 'pre-authorized-success':emptyCards.indexOf(card) == -1}">
                            <div class="sbu-header">
                                Inserisci la carta di credito
                                <!--if is admin then icon-->
                                <span class="admin-badge card-admin-badge {{$index>0 ? 'not-visible' : ''}}"><i class="material-icons">grade</i></span>
                                <span data-del="1" class="card-delete-badge {{$index<1 ? 'not-visible' : ''}}">
                                    <a class="material-icons delete-badge" ng-click="deleteCard(card)"><i class="material-icons">clear</i></a>
                                </span>
                                <!--end of condition-->
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name_{{card.cid}}" name="first_name_1" type="text" ng-model="card.firstName" class="validate" value="{{card.firstName}}">
                                    <label for="first_name_{{card.cid}}">Il tuo Nome</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name_{{card.cid}}" type="text" name="last_name_1" ng-model="card.lastName" class="validate" value="{{card.firstName}}">
                                    <label for="last_name_{{card.cid}}">Il tuo Cognome</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="credit_card_numbers_{{card.cid}}" name="credit_card_numbers_1" ng-model="card.creditCardNumber" type="text"
                                           class="credit_card_numbers credit_numbers" value="{{card.creditCardNumber}}" ng-keyup="checkCardNumber(card);">
                                    <span class="credit_card_icon" ng-if="card.icon"><img ng-src="./assets/img/card_icon/{{card.icon}}.png" alt="icon"/></span>
                                    <span id="credit_card_logo_{{card.cid}}" class="credit_card_logo"></span>
                                    <label for="credit_card_numbers_{{card.cid}}">Numero carta di credito</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="credit_card_due_date_{{card.cid}}" name="credit_card_due_date_1" type="text" ng-model="card.dueDate"
                                           class="credit_card_due credit_numbers" ng-keyup="checkDueDate(card, $event)" value="{{card.dueDate}}">
                                    <label for="credit_card_due_date_{{card.cid}}">Scadenza</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="credit_card_cvv_{{card.cid}}" name="credit_card_cvv_1" type="text" ng-model="card.cvv"
                                           class="validate credit_card_cvv credit_numbers" ng-keyup="checkCvv(card)" value="{{card.cvv}}">
                                    <label for="credit_card_cvv_{{card.cid}}">CVV</label>
                                </div>
                                <div class="input-field col s2">
                                    <span class="currency con">€</span><input id="credit_cart_amount_{{card.cid}}" name="credit_cart_amount_1" type="text" ng-model="card.amount"
                                           class="validate credit_cart_amount credit_numbers" value="{{card.amount}}" ng-change="changeAmount();">
                                    <label for="credit_cart_amount_{{card.cid}}">Importo</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--end of first collector-->

                <!--Start add button-->
                <a id="btn-add-card" ng-click="AddNewCard()" class="btn-floating btn-small waves-effect waves-light green"><i
                        class="material-icons" ng-click="">add</i></a>

                <!--End of start button-->


                <!--start email invitation-->
                <h1 class="title">
                    Invita le altre persone
                </h1>

                <!--Start first collector-->
                <div class="row main-header email-module" ng-repeat="mail in messages track by $index">
                    <form class="col s12 email-form">
                        <div id="email-collection-1" data-email="1" class="header-credit email-collection">
                            <div class="sbu-header">
                                Inserisci i dati
                                <span id="email-admin-badge-1" class="admin-badge email-admin-badge {{$index>0 ? 'not-visible' : ''}}"><i
                                        ng-click="resetmail(mail)" class="material-icons reset-badge">clear</i></span>



                                <span id="email-delete-badge-1" data-del="1" class=" email-delete-badge {{$index<1 ? 'not-visible' : ''}}">
                                    <!--<a class="material-icons"><i class="material-icons">clear</i></a>-->
                                    <a class="material-icons delete-badge" ng-click="deleteEmailForm(mail);"><i class="material-icons">clear</i></a>
                                </span>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="invitation_email_{{mail.cid}}" type="email" name="invitation_email_1" ng-model="mail.invitationEmail"
                                           class="validate" value="{{mail.invitationEmail}}" ng-change="changeAmount();">
                                    <label for="invitation_email_{{mail.cid}}">Indirizzo email</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="invitation_mobile_phone_{{mail.cid}}" name="invitation_mobile_phone_1" type="text" ng-model="mail.invitationMobilePhone"
                                           class="validate invite_mobile_phone" value="{{mail.invitationMobilePhone}}" ng-change="changeAmount();">
                                    <!--<label for="invitation_mobile_phone_1">Cellulare</label>-->
                                </div>
                                <div class="input-field col s2">
                                    <span class="currency con">€</span><input id="invitation_amount_{{mail.cid}}" name="invitation_amount_1" type="text" ng-model="mail.invitationAmount"
                                           class="validate credit_cart_amount credit_numbers" value="{{mail.invitationAmount}}" ng-change="changeAmount();" ng-disabled="!(mail.invitationMobilePhone || mail.invitationEmail)">
                                    <label for="invitation_amount_{{mail.cid}}">Importo</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <a id="btn-add-email" ng-click="AddNewMessage()" class="btn-floating btn-small waves-effect waves-light green"><i
                        class="material-icons">add</i></a>
                <br><br>

                <!--end of email invitation--->
                <a class="waves-effect waves-light btn left-align" onclick="window.location.href='index.html'">Torna
                    indietro<i class="material-icons right"></i></a>
                <a class="waves-effect waves-light btn right-align" id="store-card" ng-click="submitCard()">Procedi<i
                        class="material-icons left">trending_flat</i></a>

            </div><!--//end of column-->
        </div>
    </div>
</section>


<!--and of body-->

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2018 Splitty pay
        </div>
    </div>
</footer>
<!--floating timer-->
<div class="fixed-action-btn">
    <div class="a_area_amount">
        <div class="a_a_amount_title">IL TUO CARRELLO</div>
        <div class="a_a_separator"></div>
        <div class="a_a_amount_total">Importo totale: € <span class="" ng-bind="totalAmount"></span></div>
        <div class="a_a_amount_remaining">Importo residuo: € <span class="" ng-bind="remaining"></span></div>
    </div>

</div>
<!--end of floating timer-->

<!--Timer End Modal -->
<!-- Modal Structure -->
<div id="timerEndModal" class="modal">
    <div class="modal-content">
        <!--<h4>Time Expired</h4>-->
        <p>oops, your time is ended, you will redirect to merchant website</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Continue</a>
    </div>
</div>
<!--Timer End Modal -->

</body>
<script rel="script" src="assets/js/jquery.min.js"></script>
<script rel="script" src="assets/js/angular.min.js"></script>
<script rel="script" src="assets/js/angular-animate.js"></script>
<script rel="script" src="assets/js/materialize.min.js"></script>
<script rel="script" src="assets/js/intlTelInput.min.js"></script>
<script rel="script" src="assets/js/app.js"></script>

<script type="text/javascript">


    $(document).ready(function () {

        $(".invite_mobile_phone").intlTelInput({
            initialCountry: "it",
            utilsScript: "./assets/js/utils.js"
        });

    });



    angular.module('cardModule', ['ngAnimate']).controller('cardController', ['$scope', '$timeout', function($scope,$timeout) {
        $scope.cards = angular.fromJson(sessionStorage.cards) || [];
        $scope.messages = angular.fromJson(sessionStorage.emails) || [];
        // $scope.messages = localStorage.getItem("emails") ? JSON.parse(localStorage.getItem('emails')) : [];
        $scope.totalAmount = localStorage.getItem("totalAmount") || 0;
        $scope.remaining = $scope.totalAmount;
        $scope.submitCard = submitCard;
        $scope.AddNewCard = AddNewCard;
        $scope.AddNewMessage = AddNewMessage;
        $scope.deleteEmailForm = deleteEmailForm;
        $scope.deleteCard = deleteCard;
        $scope.checkDueDate = checkDueDate;
        $scope.checkCvv = checkCvv;
        $scope.checkCardNumber = checkCardNumber;
        $scope.selectedPayment = selectedPayment;
        $scope.changeAmount = changeAmount;
        $scope.checkExpireClass = checkExpireClass;
        $scope.remainingAmount = remainingAmount;
        $scope.resetCard = resetCard;
        $scope.resetmail = resetmail;
        $scope.presetItems = presetItems;

        function resetCard(card){
            // {firstName: '', lastName: '', creditCardNumber: '', dueDate: '', cvv: '', amount: $scope.totalAmount, cid: randNum}
            card.firstName = '';
            card.lastName = '';
            card.creditCardNumber = '';
            card.dueDate = '';
            card.cvv = '';
        }

        function resetmail(mail){
            mail.invitationEmail = '';
            mail.invitationMobilePhone = '';
            mail.invitationAmount = undefined;
            changeAmount();
        }

        function checkExpireClass(card){
            if (card.dueDate) {
                var d = new Date();
                var currentYear = d.getFullYear();
                var currentMonth = d.getMonth() + 1;
                var parts = card.dueDate.split('/');
                var year = parseInt(parts[1], 10) + 2000;
                var month = parseInt(parts[0], 10);
                return !(year && (month <= 12)) || (year < currentYear || (year === currentYear && month < currentMonth))? 'invalid' : 'valid';
            } else {
                return card.creditCardNumber ? 'invalid': 'valid';
            }
        }


        function selectedPayment(type){
            $scope.paymentType = type;
            changeCardAmount();
        }

        function changeAmount(){
            changeCardAmount();
        }

        function init(){
            $scope.paymentType = 'split';
            angular.element(document).ready(function(){
                angular.element('.modal').modal();
            });
        }
        init();
        var randNum = new Date().getTime();
        if(!$scope.cards.length){
            $scope.cards = [{firstName: '', lastName: '', creditCardNumber: '', dueDate: '', cvv: '', amount: $scope.totalAmount, cid: randNum}];
        }

        if(!$scope.messages.length){
            $scope.messages = [{invitationEmail: '', invitationMobilePhone: '', invitationAmount: 0, cid: randNum}];
            initNumberFormat($scope.messages[0].cid);
        }

        function cardInterval(dateInterval){
            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = dateInterval - now;

                $scope.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                $scope.seconds = Math.floor((distance % (1000 * 60)) / 1000);
                if (!$scope.$$phase) $scope.$apply()
                if (distance < 0) {
                    clearInterval(x);
                    M.toast({html: 'oops, your time is ended, you will redirect to merchant website', classes: 'rounded'});
                    $scope.timeExpire = true;
                }
            }, 1000);
        }



        function AddNewCard(){
            var cardData = {firstName: '', lastName: '', creditCardNumber: '', dueDate: '', cvv: '', amount: 0, cid: 'card-collection-'+randNum};
            $scope.cards.push(cardData);
            changeCardAmount();
        }

        function presetItems(){
            $scope.cards = [
                {firstName: 'Sarwar', lastName: 'Hossain', creditCardNumber: '5500 0000 0000 0004', dueDate: '11/19', cvv: '455', amount: 20, cid: 'card-collection-'+new Date().getTime()},
                {firstName: 'Monwar', lastName: 'Khan', creditCardNumber: '5500 0000 0000 0004', dueDate: '12/65', cvv: '231', amount: 20, cid: 'card-collection-'+new Date().getTime(), error: true},
                {firstName: 'John', lastName: 'Due', creditCardNumber: '5500 0000 0000 0004', dueDate: '10/43', cvv: '875', amount: 20, cid: 'card-collection-'+new Date().getTime(), error: true},
                {firstName: 'Khabir', lastName: 'Sheikh', creditCardNumber: '5500 0000 0000 0004', dueDate: '11/34', cvv: '123', amount: 20, cid: 'card-collection-'+new Date().getTime()},
            ];


            $scope.messages = [{invitationEmail: 'johndue@lin.com', invitationMobilePhone: '092349029348', invitationAmount: 45, cid: new Date().getTime()}]
        }

        function changeCardAmount(){
            if($scope.paymentType === 'split'){
                var totalCard = $scope.cards.length;
                var activeMessages = $scope.messages.filter(function (message) {
                    return message.invitationEmail || message.invitationMobilePhone;
                })
                totalCard = totalCard + activeMessages.length
                $scope.cards.forEach(function (card, index) {
                    card.amount = parseFloat(parseFloat($scope.totalAmount) / totalCard).toFixed(1).replace(".", ",");
                })

                $scope.messages.forEach(function (message, index) {
                    if(message.invitationEmail || message.invitationMobilePhone){
                        $scope.messages[index].invitationAmount = parseFloat(parseFloat($scope.totalAmount) / totalCard).toFixed(1).replace(".", ",");
                    }
                })

                // calc here
                var amountA = parseFloat($scope.totalAmount / totalCard).toFixed(1);
                var amountB = $scope.totalAmount - amountA*totalCard;
                var amountC = parseFloat(parseFloat(amountA) + parseFloat(amountB)).toFixed(1);
                $scope.cards[0].amount = amountC.replace(".", ",");
                // console.log(parseFloat(parseFloat(amountC).toFixed(1)));
                // calc here
            }
            remainingAmount();
        }

        function remainingAmount(){
            var usedAmount = 0;
            var cAmountN;
            $scope.cards.forEach(function (card, index) {
                if(card.amount){
                    cAmountN = typeof card.amount === 'number' ? card.amount : card.amount.replace(',','.');
                    usedAmount = usedAmount + parseFloat(cAmountN);
                }
            });

            $scope.messages.forEach(function (message, index) {
                if(message.invitationAmount){
                    cAmountN = typeof message.invitationAmount === 'number' ? message.invitationAmount : message.invitationAmount.replace(',','.');
                    usedAmount = usedAmount + parseFloat(cAmountN);
                }
            })
            $scope.remaining = Math.round($scope.totalAmount - usedAmount);
        }

        function initNumberFormat(cid){
            $timeout(function () {
                angular.element("#invitation_mobile_phone_"+cid).intlTelInput({
                    initialCountry: "it",
                    utilsScript: "./assets/js/utils.js"
                });
            }, 100)
        }

        function AddNewMessage(){
            var emailData = {invitationEmail: '', invitationMobilePhone: '', invitationAmount: 0, cid: 'email-collection-' + randNum};
            $scope.messages.push(emailData);
            initNumberFormat(emailData.cid);
        }

        var minutes = 15;
        var dateInterval = new Date();
        dateInterval = new Date().getTime() + (minutes * 60000);
        cardInterval(dateInterval);

        function submitCard(){

            $scope.emptyCards = $scope.cards.filter(function (card) {
                return !(card.firstName && card.lastName && (card.creditCardNumber && getCardType(card.creditCardNumber.replace(' ', ''))) && card.dueDate && card.cvv && card.amount);
            });

            if($scope.emptyCards.length) return;


            var times = {minutes: $scope.minutes, seconds: $scope.seconds};
            sessionStorage.times = angular.toJson(times);
            sessionStorage.cards = angular.toJson($scope.cards);
            if($scope.messages && $scope.messages.length){
                var currentIM = $scope.messages.filter(function (msg) {
                    return (msg.invitationMobilePhone || msg.invitationEmail);
                })
                sessionStorage.emails = angular.toJson(currentIM);
            }
            window.location.href = 'review.html';
        }

        function deleteEmailForm( mail ){
            $scope.messages.splice( $scope.messages.indexOf(mail), 1 );
            remainingAmount();
        }

        function deleteCard( card ){
            $scope.cards.splice( $scope.cards.indexOf(card), 1 );
            remainingAmount();
        }

        function checkCvv(card){
            var v = card.cvv.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
            card.cvv = v.substring(0, 3);
        }

        function checkDueDate(card, e){
            if (!(e.which && e.which === 191)) {
                var v = card.dueDate.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
                var matches = v.match(/\d{2,4}/g);
                var match = (matches && matches[0]) || '';
                var parts = [];
                var i;
                var len;
                for (i = 0, len = match.length; i < len; i += 2) {
                    parts.push(match.substring(i, i + 2))
                }
                if (parts.length) {
                    card.dueDate = parts.join('/');
                }
            }
        }

        function checkCardNumber(card) {
            var v = card.creditCardNumber.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
            var matches = v.match(/\d{4,16}/g);
            var match = (matches && matches[0]) || '';
            var parts = [], i, len;
            for (i = 0, len = match.length; i < len; i += 4) {
                parts.push(match.substring(i, i + 4))
            }
            if (parts.length) {
                card.creditCardNumber = parts.join(' ');
            }

            var cardType = getCardType(card.creditCardNumber.replace(' ', ''));
            if(cardType){
                cardType = cardType.toLowerCase();
                card.icon = cardType;
                console.log(cardType);
            }else{
                card.icon = '';
            }
        }


        function getCardType(cardNum) {

            if(!luhnCheck(cardNum)){
                return "";
            }
            var payCardType = "";
            var regexMap = [
                {regEx: /^4[0-9]{5}/ig,cardType: "VISA"},
                {regEx: /^5[1-5][0-9]{4}/ig,cardType: "MASTERCARD"},
                {regEx: /^3[47][0-9]{3}/ig,cardType: "AMEX"},
                {regEx: /^(5[06-8]\d{4}|6\d{5})/ig,cardType: "MAESTRO"}
            ];

            for (var j = 0; j < regexMap.length; j++) {
                if (cardNum.match(regexMap[j].regEx)) {
                    payCardType = regexMap[j].cardType;
                    break;
                }
            }

            if (cardNum.indexOf("50") === 0 || cardNum.indexOf("60") === 0 || cardNum.indexOf("65") === 0) {
                var g = "508500-508999|606985-607984|608001-608500|652150-653149";
                var i = g.split("|");
                for (var d = 0; d < i.length; d++) {
                    var c = parseInt(i[d].split("-")[0], 10);
                    var f = parseInt(i[d].split("-")[1], 10);
                    if ((cardNum.substr(0, 6) >= c && cardNum.substr(0, 6) <= f) && cardNum.length >= 6) {
                        payCardType = "RUPAY";
                        break;
                    }
                }
            }
            return payCardType;

        }


        function luhnCheck(cardNum){
            // Luhn Check Code from https://gist.github.com/4075533
            // accept only digits, dashes or spaces
            var numericDashRegex = /^[\d\-\s]+$/
            if (!numericDashRegex.test(cardNum)) return false;

            // The Luhn Algorithm. It's so pretty.
            var nCheck = 0, nDigit = 0, bEven = false;
            var strippedField = cardNum.replace(/\D/g, "");

            for (var n = strippedField.length - 1; n >= 0; n--) {
                var cDigit = strippedField.charAt(n);
                nDigit = parseInt(cDigit, 10);
                if (bEven) {
                    if ((nDigit *= 2) > 9) nDigit -= 9;
                }

                nCheck += nDigit;
                bEven = !bEven;
            }

            return (nCheck % 10) === 0;
        }

    }]);

</script>
</html>