<!DOCTYPE html>
<html lang="it" ng-app="monitoringModule">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Splittypay</title>
    <link rel="stylesheet" href="assets/css/bulma.min.css"/>
    <link rel="stylesheet" href="assets/css/intlTelInput.min.css"/>
    <link rel="stylesheet" href="assets/css/bulma/bulma-steps.min.css"/>
    <link rel="stylesheet" href="assets/css/app.css" />
</head>
<body ng-controller="monitoringController">


<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container ">

            <div class="column is-three-fifths is-offset-one-fifth">
            <div class="has-text-centered">
                <img width="200px" height="auto" src="https://static.wixstatic.com/media/6e9fa4_32a6e70c5bfc42229998882ddd12efdb~mv2.png/v1/fill/w_844,h_136,al_c,usm_0.66_1.00_0.01/6e9fa4_32a6e70c5bfc42229998882ddd12efdb~mv2.png">

                <hr>
                <!-- Slider One -->
                <div class="steps">
                    <div class="step-item is-completed is-success">
                        <div class="step-marker">
                            <i class="material-icons left">check</i>
                        </div>
                        <div class="step-details">
                            <p class="step-title">Benvenuto</p>
                        </div>
                    </div>
                    <div class="step-item is-completed is-success">
                        <div class="step-marker">
                            <i class="material-icons left">check</i>
                        </div>
                        <div class="step-details">
                            <p class="step-title">Inserimento Carte</p>
                        </div>
                    </div>
                    <div class="step-item is-completed is-success">
                        <div class="step-marker">
                            <i class="material-icons left">check</i>
                        </div>
                        <div class="step-details">
                            <p class="step-title">Revisione</p>
                        </div>
                    </div>
                    <div class="step-item is-active">
                        <div class="step-marker">4</div>
                        <div class="step-details">
                            <p class="step-title">Monitoraggio</p>
                        </div>
                    </div>
                </div>
                <!-- Slider One -->

                <h1 class="title has-text-centered">
                    Monitoraggio dei pagamenti:
                </h1>
                <div class="column is-three-fifths is-offset-one-fifth">
                    <span class="total_amount">importo totale: <span ng-bind="totalAmount + ' €'"></span></span>
                </div>
                <h5 class="has-text-centered" ng-if="!timeExpire" ng-bind="'Hai ancora ' + minutes + ' minuti e ' + seconds + ' secondi'"></h5>

                <h6 class="has-text-centered preset_button"><span ng-click="presetItems();">Demo</span></h6>
            </div>

                <!--start monitoring-->
                <ul class="collection">
                    <li ng-repeat="card in cards track by $index" class="collection-item avatar card_monitor" ng-class="{'success':!card.error, 'error': card.error}">
                        <div class="credit_card_type_image" ng-init="getCardImage(card)"><span ng-if="card.icon" class="c_card_icon"><img ng-src="./assets/img/card_icon/{{card.icon}}.png" alt=""/></span><i ng-if="!card.icon" class="material-icons left monitoring-icons-form">credit_card</i></div>
                        <span class="title card_owner" ng-bind="card.firstName + ' ' + card.lastName"></span>
                        <p class="payment_method" ng-bind="generateMaskCC(card.creditCardNumber);">Credit card</p>
                        <span class="p_credit_card_amount">Importo: {{card.amount}}</span>
                        <span class="secondary-content" ng-if="$index===0"><i class="material-icons">grade</i></span>
                        <!--<span class="secondary-content modal-trigger" ng-if="$index>0" data-target="convertToEmail" ng-click="convertToEmail(card)"><i class="material-icons">mail</i></span>-->
                    </li>
                </ul>
                <h6 ng-if="emails && emails.length">Inviti invati</h6>
                <!--start monitoring-->
                <!--start monitoring-->
                <ul class="collection" ng-if="emails && emails.length">
                    <li ng-repeat="email in emails track by $index" class="collection-item avatar card_monitor"  ng-class="{'success':!email.error, 'error': email.error}">
                        <i class="material-icons left monitoring-icons-form">email</i>
                        <span class="title card_owner" ng-bind="email.invitationEmail"></span>
                        <p class="payment_method" ng-bind="email.invitationMobilePhone"></p>
                        <!-- Dropdown Trigger -->
                        <i class="dropdown-trigger material-icons" data-target='invitation_drop_down'>mail</i>

                        <!-- Dropdown fro Invitation Mail -->
                        <ul id='invitation_drop_down' class='dropdown-content invitation'>
                            <li><a class="modal-trigger" href="#convertToCard" ng-click="convertToCard(email);"><i class="material-icons">credit_card</i>Paga tu</a></li>
                            <li><a href="#!" ng-click="resentEmailInvite(email);"><i class="material-icons">replay</i>Rinvia Email</a></li>
                            <li><a class="modal-trigger" href="#modifyEmail" ng-click="emailForModify(email);"><i class="material-icons">email</i>Modifica email</a></li>
                            <li><a class="modal-trigger" href="#modifyPhoneNumber" ng-click="phoneNumberForModify(email);"><i class="material-icons">phone</i>Modifica cellulare</a></li>
                        </ul>

                        <!--<a class='btn modal-trigger' href='#editDialog' ng-click="emailForModify(email);"><i class="material-icons">mail</i></a>-->
                    </li>

                </ul>

                <!--convert invitation to card-->
                <div id="convertToCard" class="modal">
                    <div class="modal-content">
                        <h4 class="has-text-centered">Add to Card Collection</h4>
                        <div class="row main-header card-module">
                            <form class="col s12 card-form">
                                <div data-card="" class="header-credit card-collection">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="first_name_card" name="first_name_1" type="text" ng-model="modifyCard.firstName" class="validate" value="modifyCard.firstName">
                                            <label for="first_name_card">Il tuo Nome</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="last_name_card" type="text" name="last_name_1" ng-model="modifyCard.lastName" class="validate" value="modifyCard.lastName">
                                            <label for="last_name_card">Il tuo Cognome</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="credit_card_numbers_card" name="credit_card_numbers_1" ng-model="modifyCard.creditCardNumber" type="text"
                                                   class="credit_card_numbers credit_numbers" value="{{modifyCard.creditCardNumber}}" ng-keyup="checkCardNumber(modifyCard);">
                                            <span class="credit_card_icon" ng-if="modifyCard.icon"><img ng-src="./assets/img/card_icon/{{modifyCard.icon}}.png" alt="icon"/></span>
                                            <span id="credit_card_logo_{{modifyCard.cid}}" class="credit_card_logo"></span>
                                            <label for="credit_card_numbers_card">Numero carta di credito</label>
                                        </div>
                                        <div class="input-field col s2">
                                            <input id="credit_card_due_date_card" name="credit_card_due_date_1" type="text" ng-model="modifyCard.dueDate"
                                                   class="credit_card_due credit_numbers" ng-keyup="checkDueDate(modifyCard, $event)" value="{{modifyCard.dueDate}}">
                                            <label for="credit_card_due_date_card">Scadenza</label>
                                        </div>
                                        <div class="input-field col s2">
                                            <input id="credit_card_cvv_card" name="credit_card_cvv_1" type="text" ng-model="modifyCard.cvv"
                                                   class="validate credit_card_cvv credit_numbers" ng-keyup="checkCvv(modifyCard)" value="{{modifyCard.cvv}}">
                                            <label for="credit_card_cvv_card">CVV</label>
                                        </div>
                                        <div class="input-field col s2">
                                            <span class="currency con">€</span><input id="credit_cart_amount_card" name="credit_cart_amount_1" type="text" ng-model="modifyCard.amount"
                                                                                      class="validate credit_cart_amount credit_numbers" value="{{modifyCard.amount}}">
                                            <label for="credit_cart_amount_card">Importo</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="btn waves-effect waves-green btn-flat monitor-submit" ng-click="submitConvertToCc(modifyCard);">Submit</div>
                    </div>
                </div>

                <!--Modify Email-->
                <div id="modifyEmail" class="modal">
                    <div class="modal-content">
                        <h4>Edit Email Field</h4>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email_address_modify" ng-model="modifyEmail.invitationEmail" type="text" class="validate">
                                        <label for="email_address_modify">Email Address</label>
                                    </div>
                                    <div class="btn waves-effect waves-green btn-flat monitor-submit" ng-click="submtiEmailAddress(modifyEmail.invitationEmail);">Submit</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Modify Phone Number-->
                <div id="modifyPhoneNumber" class="modal">
                    <div class="modal-content">
                        <h4>Edit Email Field</h4>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="phone_number_modify" ng-model="modifyPhoneNumber.invitationMobilePhone" type="text" class="validate">
                                        <!--<label for="phone_number_modify">Email Address</label>-->
                                    </div>
                                    <div class="btn waves-effect waves-green btn-flat monitor-submit" ng-click="submtPhoneNumber();">Submit</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Convert Card to Invitation-->
                <div id="convertToEmail" class="modal">
                    <div class="modal-content">
                        <h4>Convert To Invitation</h4>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="convertMailAddress" ng-model="modifyCard.invitationEmail" type="text" class="validate">
                                        <label for="convertMailAddress">Email Address</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="convertPhoneNumber" ng-model="modifyCard.invitationMobilePhone" type="text" class="validate">
                                        <!--<label for="convertPhoneNumber">Phone Number</label>-->
                                    </div>
                                    <button class="btn waves-effect waves-green btn-flat monitor-submit" ng-click="submtiCardModify();">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>




                <!--end of first collector-->
                <!--Start add button-->

                <!--End of start button-->
                <!--end of email invitation--->
                <a class="waves-effect waves-light btn left-align disabled" onclick="window.location.href='index.html'">Torna indietro<i class="material-icons right"></i></a>
                <a class="waves-effect waves-light btn right-align " onclick="window.location.href='success.html'">Procedi<i class="material-icons left">trending_flat</i></a>

            </div><!--//end of column-->
        </div>
    </div>
</section>


<!--and of body-->

<footer class="page-footer">

    <div class="footer-copyright">
        <div class="container">
            © 2018 Splitty pay
        </div>
    </div>
</footer>
<!--floating timer-->
<!--<div class="fixed-action-btn">-->
    <!--<div class="a_area_amount">-->
        <!--<div class="a_a_amount_title">IL TUO CARRELLO</div>-->
        <!--<div class="a_a_separator"></div>-->
        <!--<div class="a_a_amount_total">Importo totale: € <span class="" ng-bind="totalAmount"></span></div>-->
        <!--<div class="a_a_amount_remaining">Importo residuo: € <span class="" ng-bind="remaining"></span></div>-->
    <!--</div>-->

<!--</div>-->
<!--end of floating timer-->

</body>
<script rel="script" src="assets/js/jquery.min.js" ></script>
<script rel="script" src="assets/js/angular.min.js"></script>
<script rel="script" src="assets/js/angular-animate.js"></script>
<script rel="script" src="assets/js/materialize.min.js"></script>
<script rel="script" src="assets/js/intlTelInput.min.js"></script>
<script rel="script" src="assets/js/app.js"></script>

<script>
    angular.module('monitoringModule', []).controller('monitoringController', ['$scope', '$timeout', function($scope,$timeout) {
        $scope.cards = angular.fromJson(sessionStorage.cards);
        $scope.emails = angular.fromJson(sessionStorage.emails);
        $scope.times = angular.fromJson(sessionStorage.times);
        $scope.totalAmount = localStorage.getItem("totalAmount") || 0;
        $scope.emailForModify = emailForModify;
        $scope.phoneNumberForModify = phoneNumberForModify;
        $scope.submtiEmailAddress = submtiEmailAddress;
        $scope.submtPhoneNumber = submtPhoneNumber;
        $scope.generateMaskCC = generateMaskCC;
        $scope.convertToEmail = convertToEmail;
        $scope.convertToCard = convertToCard;
        $scope.submtiCardModify = submtiCardModify;
        $scope.getCardImage = getCardImage;
        $scope.presetItems = presetItems;
        $scope.resentEmailInvite = resentEmailInvite;
        $scope.checkCardNumber = checkCardNumber;
        $scope.checkDueDate = checkDueDate;
        $scope.checkCvv = checkCvv;
        $scope.submitConvertToCc = submitConvertToCc;

        function emailForModify(email){
            $scope.modifyEmail = email;
        }

        function checkCvv(card){
            var v = card.cvv.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
            card.cvv = v.substring(0, 3);
        }

        function checkDueDate(card, e){
            if (!(e.which && e.which === 191)) {
                var v = card.dueDate.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
                var matches = v.match(/\d{2,4}/g);
                var match = (matches && matches[0]) || '';
                var parts = [];
                var i;
                var len;
                for (i = 0, len = match.length; i < len; i += 2) {
                    parts.push(match.substring(i, i + 2))
                }
                if (parts.length) {
                    card.dueDate = parts.join('/');
                }
            }
        }

        function resentEmailInvite(){
            M.toast({html: 'The Email Has been sent !', classes: 'rounded'})
        }

        function phoneNumberForModify(email){
            $scope.modifyPhoneNumber = email;
            setNumberFormat();
        }

        function convertToCard(email){
            $scope.modifyCard = {firstName: undefined, lastName: '', creditCardNumber: '', dueDate: '', cvv: '', amount: 0, cid: 'card-collection-'+new Date().getTime()};
            $scope.emailToConvert = $scope.emails.indexOf(email);
        }

        function presetItems(){
            $scope.cards = [
                {firstName: 'Monwar', lastName: 'Khan', creditCardNumber: '5500 0000 0000 0004', dueDate: '12/65', cvv: '231', amount: 20, cid: 'card-collection-'+new Date().getTime()},
                {firstName: 'John', lastName: 'Due', creditCardNumber: '5500 0000 0000 0004', dueDate: '10/43', cvv: '875', amount: 20, cid: 'card-collection-'+new Date().getTime(), error: true},
            ];


            $scope.emails = [
                {invitationEmail: 'johndue@lin.com', invitationMobilePhone: '092349029348', invitationAmount: 45, cid: new Date().getTime()},
                {invitationEmail: 'kamal@lin.com', invitationMobilePhone: '072934234987', invitationAmount: 100, cid: new Date().getTime(), error: true}
            ];

        }

        function getCardImage(card) {
            var cardType = getCardType(card.creditCardNumber.replace(' ', ''));
            if(cardType){
                cardType = cardType.toLowerCase();
                card.icon = cardType;
            }else{
                card.icon = '';
            }
        }

        function checkCardNumber(card) {
            var v = card.creditCardNumber.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
            var matches = v.match(/\d{4,16}/g);
            var match = (matches && matches[0]) || '';
            var parts = [], i, len;
            for (i = 0, len = match.length; i < len; i += 4) {
                parts.push(match.substring(i, i + 4))
            }
            if (parts.length) {
                card.creditCardNumber = parts.join(' ');
            }

            var cardType = getCardType(card.creditCardNumber.replace(' ', ''));
            if(cardType){
                cardType = cardType.toLowerCase();
                card.icon = cardType;
                console.log(cardType);
            }else{
                card.icon = '';
            }
        }


        function getCardType(cardNum) {

            if(!luhnCheck(cardNum)){
                return "";
            }
            var payCardType = "";
            var regexMap = [
                {regEx: /^4[0-9]{5}/ig,cardType: "VISA"},
                {regEx: /^5[1-5][0-9]{4}/ig,cardType: "MASTERCARD"},
                {regEx: /^3[47][0-9]{3}/ig,cardType: "AMEX"},
                {regEx: /^(5[06-8]\d{4}|6\d{5})/ig,cardType: "MAESTRO"}
            ];

            for (var j = 0; j < regexMap.length; j++) {
                if (cardNum.match(regexMap[j].regEx)) {
                    payCardType = regexMap[j].cardType;
                    break;
                }
            }

            if (cardNum.indexOf("50") === 0 || cardNum.indexOf("60") === 0 || cardNum.indexOf("65") === 0) {
                var g = "508500-508999|606985-607984|608001-608500|652150-653149";
                var i = g.split("|");
                for (var d = 0; d < i.length; d++) {
                    var c = parseInt(i[d].split("-")[0], 10);
                    var f = parseInt(i[d].split("-")[1], 10);
                    if ((cardNum.substr(0, 6) >= c && cardNum.substr(0, 6) <= f) && cardNum.length >= 6) {
                        payCardType = "RUPAY";
                        break;
                    }
                }
            }
            return payCardType;

        }


        function luhnCheck(cardNum){
            // Luhn Check Code from https://gist.github.com/4075533
            // accept only digits, dashes or spaces
            var numericDashRegex = /^[\d\-\s]+$/
            if (!numericDashRegex.test(cardNum)) return false;

            // The Luhn Algorithm. It's so pretty.
            var nCheck = 0, nDigit = 0, bEven = false;
            var strippedField = cardNum.replace(/\D/g, "");

            for (var n = strippedField.length - 1; n >= 0; n--) {
                var cDigit = strippedField.charAt(n);
                nDigit = parseInt(cDigit, 10);
                if (bEven) {
                    if ((nDigit *= 2) > 9) nDigit -= 9;
                }

                nCheck += nDigit;
                bEven = !bEven;
            }

            return (nCheck % 10) === 0;
        }

        function submtiEmailAddress(sEmail){
            if(!validateEmail(sEmail)){
                M.toast({html: 'Invalid Email, please input valid email address!', classes: 'rounded'})
                return;
            }
            // modifyEmail.invitationEmail
            $scope.emails.forEach(function (email, index) {
                if(email.id===$scope.modifyEmail.id){
                    $scope.emails[index].invitationEmail = $scope.modifyEmail.invitationEmail;
                }
            });

            $('#modifyEmail').modal({
                dismissible: false
            });
        }

        function submitConvertToCc(card){
            if(!(card.amount && card.creditCardNumber && card.cvv && card.dueDate && card.firstName && card.lastName)){
                M.toast({html: 'Please input all fields! ', classes: 'rounded'})
                return;
            }
            $scope.cards.push(card);
            $scope.emails.splice($scope.emailToConvert, 1);
            $('#convertToCard').modal({
                dismissible: false
            });
        }

        function submtPhoneNumber(){
            $scope.emails.forEach(function (email, index) {
                if(email.id===$scope.modifyPhoneNumber.id){
                    $scope.emails[index].invitationMobilePhone = $scope.modifyPhoneNumber.invitationMobilePhone;
                }
            });

            $('#modifyPhoneNumber').modal({
                dismissible: false
            });

        }

        function generateMaskCC(cNumber){
            return cNumber.split(' ').join('').replace(/\d(?=\d{4})/g, "*");
        }

        function init(){
            angular.element(document).ready(function(){
                angular.element('.modal').modal();
            });

            angular.element(document).ready(function(){
                angular.element('.dropdown-trigger').dropdown({
                    constrainWidth: false
                });
            });


            $timeout(function () {
                var minutes = $scope.times.minutes;
                var dateInterval = new Date();
                dateInterval = new Date().getTime() + (minutes * 60000);
                cardInterval(dateInterval);
            });
        }

        function convertToEmail(card){
            $scope.modifyCard = {};
            $scope.modifyCard.invitationAmount = card.amount;
            $scope.haveToDeleteCard = $scope.cards.indexOf(card);
            setNumberFormat();
        }

        function submtiCardModify(){
            if(!$scope.emails) $scope.emails = [];
            if($scope.modifyCard.invitationEmail || $scope.modifyCard.invitationMobilePhone){
                $scope.emails.push($scope.modifyCard);

                if($scope.haveToDeleteCard){
                    $scope.cards.splice($scope.haveToDeleteCard, 1);
                    $scope.haveToDeleteCard = undefined;
                }
            }

            $('#convertToEmail').modal({
                dismissible: false
            });
        }

        function setNumberFormat(cid){
            $timeout(function () {
                angular.element("#convertPhoneNumber").intlTelInput({
                    initialCountry: "it",
                    utilsScript: "./assets/js/utils.js"
                });
            });

            $timeout(function () {
                angular.element("#phone_number_modify").intlTelInput({
                    initialCountry: "it",
                    utilsScript: "./assets/js/utils.js"
                });
            });
        }


        function cardInterval(dateInterval){
            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = dateInterval - now;

                $scope.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                $scope.seconds = Math.floor((distance % (1000 * 60)) / 1000);
                if (!$scope.$$phase) $scope.$apply()
                if (distance < 0) {
                    clearInterval(x);
                    M.toast({html: 'oops, your time is ended, you will redirect to merchant website', classes: 'rounded'});
                    $scope.timeExpire = true;
                }
            }, 1000);
        }

        function validateEmail(email) {
            return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email);
        }



        init();

    }]);
</script>
</html>