<!DOCTYPE html>
<html lang="it" ng-app="reviewModule">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Splittypay</title>
    <link rel="stylesheet" href="assets/css/bulma.min.css"/>
    <link rel="stylesheet" href="assets/css/intlTelInput.min.css"/>
    <link rel="stylesheet" href="assets/css/bulma/bulma-steps.min.css"/>
    <link rel="stylesheet" href="assets/css/app.css" />
</head>
<body ng-controller="reviewController">


<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-three-fifths is-offset-one-fifth">
                <img width="200px" height="auto" src="https://static.wixstatic.com/media/6e9fa4_32a6e70c5bfc42229998882ddd12efdb~mv2.png/v1/fill/w_844,h_136,al_c,usm_0.66_1.00_0.01/6e9fa4_32a6e70c5bfc42229998882ddd12efdb~mv2.png">

                <hr>
                <!-- Slider One -->
                <div class="steps">
                    <div class="step-item is-completed is-success">
                        <div class="step-marker">
                            <i class="material-icons left">check</i>
                        </div>
                        <div class="step-details">
                            <p class="step-title">Benvenuto</p>
                        </div>
                    </div>
                    <div class="step-item is-completed is-success">
                        <div class="step-marker">
                            <i class="material-icons left">check</i>
                        </div>
                        <div class="step-details">
                            <p class="step-title">Inserimento Carte</p>
                        </div>
                    </div>
                    <div class="step-item is-active">
                        <div class="step-marker">3</div>
                        <div class="step-details">
                            <p class="step-title">Revisione</p>
                        </div>
                    </div>
                    <div class="step-item">
                        <div class="step-marker">4</div>
                        <div class="step-details">
                            <p class="step-title">Monitoraggio</p>
                        </div>
                    </div>
                </div>
                <!-- Slider One -->


                <h1 class="title" ng-if="cards.length">
                    Hai scelto il pagamento in: Parti uguali
                </h1>
                <div class="column is-three-fifths is-offset-one-fifth">
                    <span class="total_amount">importo totale: <span ng-bind="totalAmount + ' €'"></span></span>
                    <!--<span class="remaining_amount" ng-init="remainingAmount()">residuo: <span ng-bind="remaining + ' €'"></span></span>-->
                </div>
                <h5 class="has-text-centered" ng-bind="'Hai ancora ' + minutes + ' minuti e ' + seconds + ' secondi'">Hai ancora 12 minuti e 45 secondi</h5>

                <h6 class="has-text-centered preset_button"><span ng-click="presetItems();">Demo</span></h6>
                <!--Start first collector-->
                <div class="row main-header" ng-repeat="card in cards track by $index">
                    <form class="col s12">
                        <div class="header-credit" ng-class="{'pre-authorized-denied':card.error, 'pre-authorized-success':!card.error}">
                            <div class="sbu-header ">
                                Dati carta di credito
                                <!--if is admin then icon-->
                                <span ng-if="$index==0" class="admin-badge"><i class="material-icons">grade</i></span>
                                <span ng-if="$index==1 || $index==2" class="admin-badge modal-trigger" data-target="convertToEmail"><i class="material-icons convert_to_email" ng-click="convertToEmail(card)">mail</i></span>
                                <span ng-if="$index==0 || $index==3 || $index==4" class="admin-badge"><i class="material-icons">error</i></span>
                                <span ng-if="$index==1 || $index==2" class="admin-badge"><i class="material-icons tooltipped" data-position="left" data-tooltip="Card is not authorized yet">error</i></span>
                                <!--end of condition-->
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name_{{$index}}" ng-disabled="!card.error" value="{{card.firstName}}" type="text" class="validate">
                                    <label for="first_name_{{$index}}">Il tuo Nome</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name_{{$index}}" ng-disabled="!card.error" value="{{card.lastName}}" type="text" class="validate">
                                    <label for="last_name_{{$index}}">Il tuo Cognome</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="credit_card_numbers_{{$index}}" ng-disabled="!card.error" value="{{card.creditCardNumber}}" type="text" class="validate credit_numbers">
                                    <label for="credit_card_numbers_{{$index}}">Numero carta di credito</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="credit_card_due_date_{{$index}}" ng-disabled="!card.error" value="{{card.dueDate}}" type="text" class="validate credit_numbers">
                                    <label for="credit_card_due_date_{{$index}}">Scadenza</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="credit_card_cvv_{{$index}}" ng-disabled="!card.error" value="{{card.cvv}}" type="text" class="validate credit_numbers">
                                    <label for="credit_card_cvv_{{$index}}">CVV</label>
                                </div>
                                <div class="input-field col s2">
                                    <input id="credit_cart_amount_{{$index}}" ng-disabled="!card.error" value="{{card.amount}}" type="text" class="validate credit_numbers">
                                    <label for="credit_cart_amount_{{$index}}">Importo</label>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <!--end of first collector-->


                <!--start email invitation-->
                <h1 class="title" ng-if="emails.length">
                    Hai scelto di invitare
                </h1>

                <!--Start first collector-->
                <div class="row main-header" ng-repeat="email in emails track by $index">
                    <form class="col s12">
                        <div class="header-credit">
                            <div class="sbu-header">
                                Invito per
                            </div>

                            <div class="row">
                                <div class="input-field col s4">
                                    <input id="invitation_email_{{$index}}" disabled value="{{email.invitationEmail}}" type="email" class="validate">
                                    <label for="invitation_email_{{$index}}">Indirizzo email</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="invitation_mobile_phone_{{$index}}" disabled value="{{email.invitationMobilePhone}}" type="tel" class="validate">
                                    <label for="invitation_mobile_phone_{{$index}}">Cellulare</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="invitation_amount_{{$index}}" disabled value="€ {{email.invitationAmount}}" type="text" class="validate credit_cart_amount credit_numbers">
                                    <label for="invitation_amount_{{$index}}">Importo</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--end of first collector-->
                <!--Start add button-->

                <!--End of start button-->
                <!--end of email invitation--->

                <!--<a class="waves-effect waves-light btn left-align" onclick="window.location.href='card-collections.html'"><i class="material-icons right"></i>Torna indietro</a>-->
                <a class="waves-effect waves-light btn right-align" ng-click="submitCard()"><i class="material-icons left">trending_flat</i>Procedi</a>

            </div><!--//end of column-->
        </div>

    </div>
</section>

<div id="convertToEmail" class="modal">
    <div class="modal-content">
        <h4>Convert To Invitation</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="convertMailAddress" ng-model="modifyCard.invitationEmail" type="text" class="validate">
                        <label for="convertMailAddress">Email Address</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="convertPhoneNumber" ng-model="modifyCard.invitationMobilePhone" type="text" class="validate">
                        <!--<label for="convertPhoneNumber">Phone Number</label>-->
                    </div>
                    <button class="btn waves-effect waves-green btn-flat monitor-submit" ng-click="submtiCardModify();">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--and of body-->

<footer class="page-footer">

    <div class="footer-copyright">
        <div class="container">
            © 2018 Splitty pay
        </div>
    </div>
</footer>
<!--floating timer-->
<!--<div class="fixed-action-btn">-->
    <!--<div class="a_area_amount">-->
        <!--<div class="a_a_amount_title">IL TUO CARRELLO</div>-->
        <!--<div class="a_a_separator"></div>-->
        <!--<div class="a_a_amount_total">Importo totale: € <span class="" ng-bind="totalAmount"></span></div>-->
        <!--<div class="a_a_amount_remaining">Importo residuo: € <span class="" ng-bind="remaining"></span></div>-->
    <!--</div>-->

<!--</div>-->
<!--end of floating timer-->
</body>
<script rel="script" src="assets/js/jquery.min.js" ></script>
<script rel="script" src="assets/js/materialize.min.js"></script>
<script rel="script" src="assets/js/angular.min.js" ></script>
<script rel="script" src="assets/js/angular-animate.js"></script>
<script rel="script" src="assets/js/intlTelInput.min.js"></script>
<script rel="script" src="assets/js/app.js"></script>


<script>

    $(document).ready(function(){
        $('.tooltipped').tooltip();
    });

    angular.module('reviewModule', ['ngAnimate']).controller('reviewController', ['$scope', '$timeout', function($scope,$timeout) {
        $scope.cards = angular.fromJson(sessionStorage.cards);
        $scope.emails = angular.fromJson(sessionStorage.emails);
        $scope.times = angular.fromJson(sessionStorage.times);
        $scope.totalAmount = localStorage.getItem("totalAmount") || 0;

        $scope.submitCard = submitCard;
        $scope.presetItems = presetItems;
        $scope.convertToEmail = convertToEmail;
        $scope.submtiCardModify = submtiCardModify;
        $scope.remainingAmount = remainingAmount;

        function convertToEmail(card){
            $scope.modifyCard = {};
            $scope.modifyCard.invitationAmount = card.amount;
            $scope.haveToDeleteCard = $scope.cards.indexOf(card);
            setNumberFormat();
        }

        function init(){
            angular.element(document).ready(function(){
                angular.element('.modal').modal();
            });
        }

        function remainingAmount(){
            var usedAmount = 0;
            var cAmountN;
            $scope.cards.forEach(function (card, index) {
                if(card.amount){
                    cAmountN = typeof card.amount === 'number' ? card.amount : card.amount.replace(',','.');
                    usedAmount = usedAmount + parseFloat(cAmountN);
                }
            });

            $scope.emails.forEach(function (message, index) {
                if(message.invitationAmount){
                    cAmountN = typeof message.invitationAmount === 'number' ? message.invitationAmount : message.invitationAmount.replace(',','.');
                    usedAmount = usedAmount + parseFloat(cAmountN);
                }
            })
            $scope.remaining = Math.round($scope.totalAmount - usedAmount);
        }

        init();

        function submtiCardModify(){
            if(!$scope.emails) $scope.emails = [];
            if($scope.modifyCard.invitationEmail || $scope.modifyCard.invitationMobilePhone){
                if(!($scope.modifyCard.invitationEmail && validateEmail($scope.modifyCard.invitationEmail))){
                    M.toast({html: 'Invalid Email, please input valid email address!', classes: 'rounded'});
                    return;
                }
                $scope.emails.push($scope.modifyCard);
                if($scope.haveToDeleteCard){
                    $scope.cards.splice($scope.haveToDeleteCard, 1);
                    $scope.haveToDeleteCard = undefined;
                }
            }

            $('#convertToEmail').modal({
                dismissible: false
            });
        }

        function setNumberFormat(cid){
            $timeout(function () {
                angular.element("#convertPhoneNumber").intlTelInput({
                    initialCountry: "it",
                    utilsScript: "./assets/js/utils.js"
                });
            })
        }

        function cardInterval(dateInterval){
            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = dateInterval - now;

                $scope.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                $scope.seconds = Math.floor((distance % (1000 * 60)) / 1000);
                if (!$scope.$$phase) $scope.$apply()
                if (distance < 0) {
                    clearInterval(x);
                    M.toast({html: 'oops, your time is ended, you will redirect to merchant website', classes: 'rounded'});
                    $scope.timeExpire = true;
                }
            }, 1000);
        }

        function presetItems(){
            $scope.cards = [
                {firstName: 'Sarwar', lastName: 'Hossain', creditCardNumber: '5576 6001 0006 2660', dueDate: '11/19', cvv: '455', amount: 20, cid: 'card-collection-'+new Date().getTime()},
                {firstName: 'Monwar', lastName: 'Khan', creditCardNumber: '5576 6001 0006 2660', dueDate: '12/65', cvv: '231', amount: 20, cid: 'card-collection-'+new Date().getTime(), error: true},
                {firstName: 'John', lastName: 'Due', creditCardNumber: '5576 6001 0006 2660', dueDate: '10/43', cvv: '875', amount: 20, cid: 'card-collection-'+new Date().getTime(), error: true},
                {firstName: 'Khabir', lastName: 'Sheikh', creditCardNumber: '5576 6001 0006 2660', dueDate: '11/34', cvv: '123', amount: 20, cid: 'card-collection-'+new Date().getTime()},
                {firstName: 'Jasim', lastName: 'Khan', creditCardNumber: '5576 6001 0006 2660', dueDate: '11/34', cvv: '532', amount: 20, cid: 'card-collection-'+new Date().getTime()},
            ];


            $scope.emails = [
                {invitationEmail: 'johndue@lin.com', invitationMobilePhone: '092349029348', invitationAmount: 45, cid: new Date().getTime()},
                {invitationEmail: 'kamal@lin.com', invitationMobilePhone: '072934234987', invitationAmount: 100, cid: new Date().getTime()}
            ];
        }

        function submitCard(){
            $scope.emptyCards = $scope.cards.filter(function (card) {
                return !(card.firstName && card.lastName && card.creditCardNumber && card.dueDate && card.cvv && card.amount);
            });

            if($scope.emptyCards.length) return;


            var times = {minutes: $scope.minutes, seconds: $scope.seconds};
            sessionStorage.times = angular.toJson(times);
            sessionStorage.cards = angular.toJson($scope.cards);
            if($scope.emails && $scope.emails.length){
                var currentIM = $scope.emails.filter(function (msg) {
                    return (msg.invitationMobilePhone || msg.invitationEmail);
                })
                sessionStorage.emails = angular.toJson(currentIM);
            }
            window.location.href = 'monitoring.html';
        }

        $timeout(function () {
            var minutes = $scope.times.minutes;
            var dateInterval = new Date();
            dateInterval = new Date().getTime() + (minutes * 60000);
            cardInterval(dateInterval);
        });

        function validateEmail(email) {
            return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email);
        }

    }]);

</script>
</html>