<!DOCTYPE html>
<html lang="it" ng-app="monitoringModule">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Splittypay</title>
    <link rel="stylesheet" href="assets/css/bulma.min.css"/>
    <link rel="stylesheet" href="assets/css/bulma/bulma-steps.min.css"/>
    <link rel="stylesheet" href="assets/css/app.css" />
</head>
<body ng-controller="monitoringController">


<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container ">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div class="has-text-centered">
                    <img width="200px" height="auto" src="https://static.wixstatic.com/media/6e9fa4_32a6e70c5bfc42229998882ddd12efdb~mv2.png/v1/fill/w_844,h_136,al_c,usm_0.66_1.00_0.01/6e9fa4_32a6e70c5bfc42229998882ddd12efdb~mv2.png">

                    <hr>
                    <!-- Slider One -->
                    <div class="steps">
                        <div class="step-item is-completed is-success">
                            <div class="step-marker">
                                <i class="material-icons left">check</i>
                            </div>
                            <div class="step-details">
                                <p class="step-title">Welcome</p>
                            </div>
                        </div>
                        <div class="step-item is-completed is-success">
                            <div class="step-marker">
                                <i class="material-icons left">check</i>
                            </div>
                            <div class="step-details">
                                <p class="step-title">Card Collection</p>
                            </div>
                        </div>
                        <div class="step-item is-completed is-success">
                            <div class="step-marker">
                                <i class="material-icons left">check</i>
                            </div>
                            <div class="step-details">
                                <p class="step-title">Review</p>
                            </div>
                        </div>
                        <div class="step-item is-completed is-success">
                            <div class="step-marker">
                                <i class="material-icons left">check</i>
                            </div>
                            <div class="step-details">
                                <p class="step-title">Monitoring</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slider One -->

                    <h1 class="title has-text-centered">
                        thank you, you will be redirect in 5,4,3... second
                    </h1>
                    <h5 class="has-text-centered" ng-if="!timeExpire" ng-bind="'Hai ancora ' + minutes + ' minuti e ' + seconds + ' secondi'"></h5>
                </div>
            </div><!--//end of column-->
        </div>
    </div>
</section>


<!--and of body-->

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2018 Splitty pay
        </div>
    </div>
</footer>


</body>
<script rel="script" src="assets/js/jquery.min.js" ></script>
<script rel="script" src="assets/js/materialize.min.js"></script>
<script rel="script" src="assets/js/app.js"></script>

<script>
    window.setTimeout(function(){
        window.location.href = "http://simonechinaglia.net";
    }, 5000);
</script>
</html>